body {
    padding: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron, {
        margin-top: 20px;
    }
    .card{
        padding-top: 20px;
    }
    .c{
        margin-top: 80px;
    }
    .body-content {
        padding: 0px;
    }
}